.sliderWrap{
    .wrapContent{
        .container{
            height:100%;
        }
    }
    .imgWrap{
        height:500px;
        width:100%;
        img{
            height:500px;
            width:100%;
        }
    }
}