.content {
    height: 200px;

    margin: 0 auto;
  
    .account{
        width:80%;
        margin:0 auto;
        display:block;
        padding: 20px;
    }
    .passWorld{
        width:80%;
        margin:0 auto;
        display:block;
    }
    .rAccount{
        width:80%;
        margin:0 auto;
        display:block;
        padding: 5px;
    }
    .rPassWorld{
        width:80%;
        margin:0 auto;
        display:block;
        padding: 5px;
    }
    .sePassWorld{
        width:80%;
        margin:0 auto;
        display:block;
        padding: 5px;
    }
    .btn{
      margin:20px auto;
      width:80%;
      .el-button{
          width:100%;
      }
    }
  }